* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'MyFont';
    src: url('font/SFUFuturaLight.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body {
    background-color: #000;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    text-align: center;
    position: relative;
    border: none;
    padding: 3rem
}

.movie-title {
    font-family: 'MyFont', 'sans-serif';
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
}

.credit-notice {
    font-size: 1.2rem;
    margin-bottom: 3rem;
    color: #000000;
    font-style: italic;
}

/* Phần credit roll */
.credit-roll {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 1.8rem;
}

.credit-content {
    position: absolute;
    width: 100%;
    text-align: center;
    animation: creditRoll 30s linear forwards;
    animation-fill-mode: forwards;
}

.credit-section {
    margin: 2rem 0;
}

.credit-title {
    font-family: 'MyFont', 'sans-serif';
    font-size: 1.8rem;
    color: #ffffff;
    margin-bottom: 0.5rem;
}

.credit-name {
    font-family: 'MyFont', 'sans-serif';
    font-size: 1.5rem;
    margin: 0;
    color: #fff;
}

/* After credit phần */
.after-credit {
    margin-top: 100px;
    padding: 50px 0;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes creditRoll {
    0% {
        top: 100vh;
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        top: -500vh; /* Dừng lại để after-credit ở giữa màn hình */
        opacity: 1;
    }
}

.skill{
    padding: 1rem
}

.scene-content{
    color:white;
    font-size: 2rem;
    font-family: 'MyFont', 'sans-serif';
}
.logotmu{
        font-size: 4rem;
    font-weight: bold;
    animation: pulse 2s infinite alternate;
    max-width: 3rem;
    max-height: 3rem
}

.credit-section {
    margin: 20px 0;
}

.credit-title {
    text-align: center;
    margin-bottom: 20px;
}

.credit-section {
    margin: 20px 0;
}

.credit-container {
    display: flex;
    gap: 30px; /* Khoảng cách giữa các cột */
    flex-wrap: wrap; /* Cho phép xuống dòng trên mobile */
    padding-left: 5rem;
    padding-right: 5rem;
    padding: 3rem;
}

.credit-column {
    flex: 1;
    min-width: 250px; /* Đảm bảo cột không quá nhỏ */
}


